:root {
  --main-color: #b9cbdd;
  --second-color: #83b1df;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--main-color);
}

.tarjeta {
  background-color: var(--second-color);
}

footer {
  background-color: rgb(110, 110, 179);
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
}
